/**
 * App entry scss file
 *
 * @url https://getbootstrap.com/docs/4.0/getting-started/theming/
 * @url https://getbootstrap.com/docs/4.0/getting-started/webpack/#importing-precompiled-sass
 */
//$blue:    purple; // Override variables here to style accordingly

@import '~admin-lte/build/scss/AdminLTE.scss';
@import '~bootstrap/scss/bootstrap';
@import '~icheck-bootstrap/icheck-bootstrap.min.css';